<?xml version ="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Project1"
			 providerName="System.Data.SqlClient"
			 connectionString="Server=tcp:2104projectkino.database.windows.net,1433;Initial Catalog=2104Project;Persist Security Info=False;User ID=kino;Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	</connectionStrings>
</configuration>